/* main
-------------------------------------------------------------- */

body{
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	overflow-x: hidden;
	font-size: 14px;
	line-height: 1.6;
}
