/* Dashboard custom styles
-------------------------------------------------------------- */

@import "mixins";

/* dashboard widget configuration */
.widget-options-inner{
	padding: 4px 0;
	position: relative;

	&.wait{
		&:before{
			content: '';
			display: block;
			position: absolute;
			z-index: 8;
			top: -40px;
			right: 18px;
			width: 22px;
			height: 22px;
			background: transparent url(../img/ajax-loader.gif) center no-repeat;
			background-size: contain;
		}
	}

	label{
		display: block;
		position: relative;
		overflow: hidden;
		color: #23282D;
		margin-bottom: 12px;
		font-size: 13px;
		font-weight: 500;

		&:last-child{
			margin-bottom: 0;
		}

		&>.widget-options-checkbox{
			position: absolute;
			left: -99999px;

			&:checked + span:before{
				background-color: #46B450;
			}

			&:checked + span:after{
				left: 21px;
			}
		}

		&>.indicator{
			display: inline-block;
			vertical-align: -8px;
			width: 42px;
			height: 24px;
			background: #ffffff;
			border: solid 1px #DDDDDD;
			box-sizing: border-box;
			border-radius: 12px;
			cursor: pointer;
			margin-right: 12px;
			position: relative;

			&:before{
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				top: 1px;
				right: 1px;
				bottom: 1px;
				left: 1px;
				border-radius: 12px;
				box-sizing: border-box;
				background-color: #E14D43;
				transition: all .35s;
			}

			&:after{
				content: '';
				display: block;
				position: absolute;
				z-index: 4;
				width: 16px;
				height: 16px;
				background-color: white;
				border-radius: 100%;
				left: 3px;
				top: 3px;
				transition: all .35s;
			}
		}

		&>.label{
			display: block;
			margin-bottom: 4px;
		}

		&>.widget-options-number{
			display: block;
			width: 98%;
			margin-bottom: 0;
			border: solid 1px #DDDDDD;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}
		}

		&>.widget-options-text{
			display: block;
			width: 98%;
			margin-bottom: 0;
			border: solid 1px #DDDDDD;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}
		}

		&>.widget-options-textarea{
			display: block;
			width: 98%;
			margin-bottom: 0;
		}
	}
}

/* fix ACF dashboard styles */
.acf-postbox.seamless{
	& > .acf-fields{
		& > .acf-field{
			background-color: #fff;
			border: solid 1px #ccd0d4 !important;
			border-top: none !important;

			&.acf-field-accordion{
				margin-left: 0 !important;
				margin-right: 0 !important;
				border: #ccd0d4 solid 1px !important;
			}
		}
		.acf-tab-wrap{
			margin-bottom: 0 !important;

			li{
				margin: 0 4px 0 0;

				a{
					padding: 5px 8px;
					font-size: 13px;
				}
			}
			.active{
				a{
					background-color: #fff !important;
					padding: 5px 8px 6px;
				}
			}
		}
	}
	& > .inside{
		padding-left: 12px !important;
		padding-right: 12px !important;
	}
	.acf-tab-group{
		border-bottom: #ccd0d4 solid 1px !important;
		padding-top: 0;
	}
	.acf-tab-wrap {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

/* hide WPML Translation Priority options */
#icl_translation_priority_dropdown,#icl_how_to_translate_link,.icl_subsubsub,.otgs-notice {
	display: none !important;
}

/* fix WPML dashboard language switcher */
#wp-admin-bar-WPML_ALS{
	.ab-item{
		font-size: 0 !important;

		span,
		.ab-sub-wrapper{
			font-size: 13px !important;
		}
	}

	.ab-sub-wrapper{

		.ab-item{
			font-size: 13px !important;
			min-width: 37px !important;
		}
	}

	.otgs-ico-help{
		display: none;
	}

	#wp-admin-bar-WPML_ALS_all{
		display: none !important;
	}
}

/* change width of gutenberg sidebar */
.edit-post-layout.is-sidebar-opened .edit-post-sidebar,
.edit-post-layout.is-sidebar-opened .edit-post-plugin-sidebar__sidebar-layout{
	width: 460px !important;
}
.edit-post-layout.is-sidebar-opened .edit-post-layout__content{
	margin-right: 460px !important;
}

/* fix tiny mce editor fullscreen mode */
body.mce-fullscreen{
	.interface-interface-skeleton__sidebar{
		position: absolute;
		top: 100%;
		left: 100%;
	}
	.mce-fullscreen{
		z-index: 10000000000000;
		@include transform(translateZ(10000000000000000px));
	}
}
